mixin journal_item(item)
    a.journal-item(class= item.wide? 'journal-item--wide' : '')
        .journal-item__picture
            img(src=item.image alt=item.title)
            .journal-item__icon
                img(src=item.icon ? 'images/'+item.icon +'.png': 'images/heart.png', alt='')

        .journal-item__description(class= item.descriptionSide? 'journal-item__description--'+item.descriptionSide : '')
            .journal-item__category= item.category
            h3.journal-item__heading!= item.title
            p.journal-item__details= item.details
            .journal-item__count= '0' + attributes.count

mixin stage(stage)
    li.stage
        .stage__number= attributes.count
        .stage__icon(class= stage.icon)
        p.stage__description= stage.text

mixin location(item)
    li.location
        a.location__inner(class= item.class href= item.href)
            .location__rating
                +rating(item.rating)
            .location__info
                h4.location__title= item.name
                p.location__description= item.description
            footer.location__footer
                .location__old-price= '$'+ item.oldPrice
                .location__price= '$'+ item.price

mixin rating(count)
    if count
        -for (var i = 0; i < count; i++)
            span.star

mixin gallery_tile(image)
    .gallery__tile
       img(src= image.src alt= image.alt)
       .gallery__hover

mixin testimonial(item)
    li.testimonial
        blockquote.testimonial__text= item.text
        .testimonial__author
            .testimonial__avatar
                img(src= item.author.image, alt= item.author.name)
            .testimonial__name
                b!= item.author.name +'&nbsp;'
                span.testimonial__job= item.author.jobTitle